///////////////////////////////////
// Import all Extensions Here // //
///////////////////////////////////

@import "compass";
@import "compass/support";
@import "singularitygs";
@import "modular-scale";


///////////////////
// Modular Scale //
///////////////////
$xxs: ms(-0.75);
$xs: ms(-0.5); // 13px
$s: ms(-0.25); // 14px
$m: ms(0);
$l: ms(0.25);
$xl: ms(0.5);

///////////////////
// Color Schemer //
///////////////////



/////////////////
// Singularity //
/////////////////
$bp-m: 600px;
$bp-l: 800px;

$grids: 4;
$grids: add-grid(8 at $bp-m);
$grids: add-grid(12 at $bp-l);

$gutters: 1/3;
$output-style: 'float';
$include-clearfix: true;


///////////////////////
// Compass Variables //
///////////////////////
$legacy-support-for-ie6: false;
$legacy-support-for-ie7: false;
$legacy-support-for-ie8: false;



